body {
    font-size: 16px;
}

.form-group label {
    font-size: 1.1rem;
}

.pd-20 {
    padding:0 20px;
}
.ds-none {
    display: none;
}
.card-header {
    padding: 0;
    border-bottom: 0;
}

.card-body {
    border-bottom: 10px solid #ECF0F3;
    padding-bottom: 0;
}

.card-body:first-child {
    padding-top: 0;
}

.nav-pills {
    padding: 20px;
}

.opt-pro {
    list-style: none;
}

.opt-pro li {
    margin-bottom: 5px;
}

.form-group label {
    font-weight: 600;
}

.select2-container {
    display:block;
}

.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    height:40px;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.custom-file-label {
    border-color: transparent;
    background-color: #F3F6F9;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    color: #464E5F;
    background: #d7ebff;
}

textarea.form-control {
    height: auto;
    min-height: 170px;
}

.custom-file-label::after {
    border-left: 1px solid #e4ebf3;
}

form > .card-header {
    padding: 2.25rem 2.25rem 0;
}

.input-group-append {
    margin-left: 0;
}

.input-group-text {
    border: 0;
    border-left: 1px solid #e0ecf9;
}

.note-toolbar,
.note-editable {
    background: #f3f6f9;
    z-index: 1 !important
}

.note-editor.note-frame .note-editing-area .note-editable,
.note-editor.note-airframe .note-editing-area .note-editable {
    background: #f3f6f9;
}

.contentTabel {
    padding: 20px;
}

td .checkbox > span,
tr .checkbox > span {
    background-color: transparent;
    border: 1px solid #c1c1c1 !important;
}

.no-sort {
    display: flex;
    border: 0 !important;
}

.aside-menu .menu-nav > .menu-item > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: initial;
}
.aside-minimize .aside-enabled.subheader-fixed .subheader {
    left: 70px !important;
}

/* Data-tables
------------------------------------
*/

.table.dataTable.no-footer {
    border: none;
}

.dataTables_scroll:hover .dataTables_scrollBody:before {
    content: "";
    top: 0;
    height: 0;
}

.dataTables_scrollBody {
    overflow-y: auto;
    border: none !important;
}

.dataTables_scrollBody:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    background: transparent;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
}

.dataTables_wrapper .dataTables_paginate ul > li > a {
    padding: 5px 10px;
    color: #575a5d;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.dataTables_wrapper .dataTables_paginate ul > li > a:hover {
    opacity: .65;
}

.dataTables_wrapper .dataTables_paginate ul > li.next > a,
.dataTables_wrapper .dataTables_paginate ul > li.prev > a {
    opacity: 1;
}

.dataTables_wrapper .dataTables_paginate ul > li.disabled a:hover {
    opacity: .35;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin-top: 25px !important;
}

.dataTables_paginate.paging_bootstrap.pagination {
    padding-top: 0;
    padding-right: 20px;
}

.dataTables_wrapper .dataTables_info {
    clear: none;
    font-size: 12px;
    padding: 0 33px;
    color: #575a5d;
}

.dataTables_wrapper .dataTables_paginate ul > li {
    display: inline-block;
    padding-left: 0;
    font-size: 11px;
}

.dataTables_scrollHeadInner {
    padding-right: 0 !important;
}

.export-options-container {
    position: relative;
}

.dataTables_wrapper .dataTables_paginate ul > li.active > a {
    font-weight: bold;
    color: #575a5d;
    opacity: 1;
    font-size: 18px;
}

.export-options-container a {
    color: inherit;
    opacity: 1;
}

.exportOptions .DTTT.btn-group a {
    display: block !important;
}

td {
    vertical-align: inherit !important;
}

table.dataTable thead .sorting_asc:after {
    background-image: url("../img/icons/sort_asc.png");
}

table.dataTable thead .sorting_desc:after {
    background-image: url("../img/icons/sort_desc.png");
}

table.dataTable thead .sorting:after {
    background-image: url("../img/icons/sort_both.png");
}

table.dataTable thead .sorting_asc_disabled:after {
    background-image: url("../img/icons/sort_asc_disabled.png");
}

table.dataTable thead .sorting_desc_disabled:after {
    background-image: url("../img/icons/sort_desc_disabled.png");
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    bottom: 12px;
    content: "";
    width: 19px;
    height: 19px;
    background-position: center center;
    opacity: 1;
}

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
    top: 12px;
}
table td img {
    border-radius: 5px;
    max-width: 60px;
    object-fit: cover;
}
.dataTables_wrapper .row {
    width: 100%;
}

.dataTables_wrapper .row > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.dataTables_wrapper#tableWithDynamicRows_wrapper > div {
    width: 100%;
}

.page-item {
    margin: 0 5px;
}
.page-item .page-link {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 2.25rem;
    min-width: 2.25rem;
    padding: 0.5rem;
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    position: relative;
    font-size: 1.1rem;
    line-height: 1rem;
    font-weight: 500;
    border-radius: 0.42rem;
    color: #80808F;
    border: 0;
}
.page-item.active .page-link {
    -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    background-color: #3699FF;
    color: #FFFFFF;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    background-color: #ecf1f6;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    font-size: 1.3rem;
}

.table-responsive .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.42rem;
    margin: 30px;
    display: flex;
    justify-content: flex-end;
}

.table tbody .checkbox {
    top: -9px;
}

.btn-default,
.btn-default:focus {
    color: #5e5e5e !important;
    background-color: #fff !important;
    border-color: #e8e9ea !important;
    height: 40px;
    font-size: 15px
}

.btn-default.active,
.btn-default:active,
.btn-default.active:focus,
.btn-default:active:focus,
.btn-default:active:hover {
    background-color: #e8e9ea !important;
    border-color: #e1e1e2 !important;
    color: #2c2d2f !important;
}

.btn-default.hover,
.btn-default:hover {
    background-color: #f5f6f7 !important;
    border-color: rgba(87, 90, 93, 0.27) !important;
    color: #18191a !important;
}

.btn-default.active:hover {
    background: #f0f0f0 !important;
}

.btn-group > form {
    margin-right: 15px;
}

.btn-group .form-control {
    height: 40px;
}

.btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
    border-radius: 0 !important;
    border-left: 1px solid #d9d9d9;
}

.btn-group > .btn:last-child {
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
}

.btn {
    white-space: nowrap;
}

.switch {
    display: block;
}

.contentTabel {
    background: #fff;
    padding: 0
}

.gutter-b .card-header {
    padding: 20px;
}

.text-right {
     text-align: left !important; 
}

.card-header .card-title {
    margin-bottom: 0;
}

.dataTables_wrapper .dataTable th.sorting_asc:before,
.dataTables_wrapper .dataTable td.sorting_asc:before,
.optionAddHours:before {
    opacity: 0;
    color: #3699FF !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    left: 0;
    content: "\2191";
}

.pd-not {
    padding: 20px;
}

/**/

.fileinput-new {
    cursor: pointer;
    background: #eaecf5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    border-radius: 5px;
}

.fileinputForm {
    position: relative;
}

.fileinputForm label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    color: #000;
}

.fileinput-new img {
    max-width: 100%;
    max-height: 100%;
}

.btn-change-img i {
    background: #eaecf5;
    color: #000;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
}

.alert.alert-custom.alert-white {
    background-color: #ffffff;
    border-color: #ff1100;
    margin-bottom: 0;
    margin-top: 20px;
}

.form-horizontal {
    padding: 20px;
}

.box-filter-collapse .card {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #eee;
}

.form-control {
    width: 100%;
    height: 40px !important;
    padding: 2px 12px;
}

.box-filter-collapse .btn-default {
    margin-top: 25px;
}

.btnRest {
    background: #eee !important;
}

.btnSearch {
    background: #1bc5bd !important;
    color: #fff !important;
}

.btnSearch i {
    color: #fff !important;
}
div.dt-top-container {
    padding: 0 10px;
    display: flex !important;
    flex-direction: row-reverse;
}

#kt_datatable1_length select.form-control {
    padding: 2px 42px 2px 10px;
}
div.dt-center-in-div {
    margin-left: auto !important;
    margin-right: 30px !important;

}
.card-body .card-header {
    padding:0 0 10px;
}
.itemBlock {
    position: relative;
    padding:40px 20px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
    overflow: hidden;
}
.itemBlock .deleteItem {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 5px;
}




